<div class="container">
<app-cockpit (onservercreated)="onAddServer($event)"  (onblueprintcreated)="onAddBlueprint($event)">

</app-cockpit>

  <div 
  class="list-group"
  *ngFor="let element of serverElements">
<app-serve-element [element]="element">

  <div class="list-group-item">
        <div class="list-group-item-heading">{{ element.name }}</div>
        <div class="list-group-item-text">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
 

</div>
</app-serve-element>
  </div>
</div>



